.comment {
	padding: var(--mantine-spacing-md)
		var(--mantine-spacing-lg);
}

.body {
	padding-left: 54px;
	padding-top: var(--mantine-spacing-sm);
	font-size: var(--mantine-font-size-sm);
}

.content {
	& > p:last-child {
		margin-bottom: 0;
	}
}

.accordion {
	background: none !important;
	border: none !important;
}
