.report {
	transition: var(--transition);

	&:hover {
		background: var(--hover-bg);
		cursor: pointer;
	}
}

.order {
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid var(--mantine-color-dark-6);
	border-radius: var(--mantine-radius-xs);
	width: 24px;
	height: 24px;
	font-size: 12px;
	font-weight: 500;
}
