.report {
	transition: background-color 150ms ease;
}

.gpu {
	transition: background-color 150ms ease;
}

.report:hover,
.gpu:hover {
	background-color: var(--mantine-color-gray-0);
	cursor: pointer;
}

.report:last-child,
.gpu:last-child {
	border-bottom: 1px solid var(--mantine-color-gray-3) !important;
}

.gpu:last-child {
	border-bottom: 1px solid var(--mantine-color-gray-3) !important;
}
