.list {
	position: relative;
}

.indicator {
	background-color: var(--mantine-color-white);
	border-radius: var(--mantine-radius-sm);
	border: 1px solid var(--mantine-color-gray-2);
	box-shadow: var(--mantine-shadow-sm);
}

.tab {
	z-index: 100 !important;
	font-weight: 500;
	transition: color 100ms ease;
	color: var(--mantine-color-gray-7) !important;
	border-radius: var(--mantine-spacing-sm);

	&[data-active] {
		transition: color 100ms ease;
		color: var(--mantine-color-black) !important;
	}
}
