.header {
	height: 56px;

	padding-left: var(--mantine-spacing-md);
	padding-right: var(--mantine-spacing-md);
}

.inner {
	height: 56px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.link {
	display: block;
	line-height: 1;

	padding: 6px 10px;
	width: fit-content;

	font-size: var(--mantine-font-size-sm);
	font-weight: 500;

	border-radius: var(--mantine-radius-sm);

	@mixin hover {
		background: var(--hover-bg);
	}
}

.user {
	@media (max-width: $mantine-breakpoint-xs) {
		display: none;
	}
}

.userActive {
	background-color: light-dark(
		var(--mantine-color-white),
		var(--mantine-color-dark-8)
	);
}

.colorSchemeToggle {
	width: 36px !important;
	height: 36px !important;

	display: none !important;
}

.icon {
	width: 18px;
	height: 18px;
}

.dark {
	@mixin dark {
		display: none;
	}

	@mixin light {
		display: block;
	}
}

.light {
	@mixin light {
		display: none;
	}

	@mixin dark {
		display: block;
	}
}
