.header {
	height: 56px;

	padding-left: var(--mantine-spacing-md);
	padding-right: var(--mantine-spacing-md);
}

.inner {
	height: 56px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.link {
	display: block;
	line-height: 1;
	padding: 10px 14px;
	border-radius: var(--mantine-radius-sm);
	text-decoration: none;
	color: light-dark(
		var(--mantine-color-gray-7),
		var(--mantine-color-white)
	);
	font-size: var(--mantine-font-size-sm);
	font-weight: 500;

	@mixin hover {
		background-color: light-dark(
			var(--mantine-color-gray-0),
			var(--mantine-color-dark-6)
		);
	}

	&:hover {
		background-color: light-dark(
			var(--mantine-color-white),
			var(--mantine-color-dark-8)
		);
	}
}

.user {
	@media (max-width: $mantine-breakpoint-xs) {
		display: none;
	}
}

.userActive {
	background-color: light-dark(
		var(--mantine-color-white),
		var(--mantine-color-dark-8)
	);
}

.colorSchemeToggle {
	width: 36px !important;
	height: 36px !important;

	display: none !important;
}

.icon {
	width: 18px;
	height: 18px;
}

.dark {
	@mixin dark {
		display: none;
	}

	@mixin light {
		display: block;
	}
}

.light {
	@mixin light {
		display: none;
	}

	@mixin dark {
		display: block;
	}
}
