.comment {
	//cursor: pointer;

	@mixin dark {
		/* background-color: var(--mantine-color-dark-6);
		border-color: var(--mantine-color-dark-4); */
	}
}
.fullwidth {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-width: 100% !important;
}

.body {
	padding-left: 54px;
	padding-top: var(--mantine-spacing-sm);
	font-size: var(--mantine-font-size-sm);
}

.stat {
	display: flex !important;
	flex-direction: column !important;
	align-items: center !important;
	justify-content: center;

	border-radius: var(--mantine-spacing-sm);
	box-shadow: none !important;
}

.content {
	& > p:last-child {
		margin-bottom: 0;
	}
}

.accordion {
	background: none !important;
	border: none !important;
}

.control {
	@mixin hover {
		background-color: light-dark(
			var(--mantine-color-gray-0),
			var(--mantine-color-dark-6)
		);
	}

	&:hover {
		background-color: light-dark(
			var(--mantine-color-white),
			var(--mantine-color-dark-8)
		);
	}

	span {
		padding: 7px 0;
	}
}
